.avatar{
    width: 120px;
    height: 120px;
    background-image: url("../img/hennybabe.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;

    /*border: 1px solid #000000;*/
}
.top_content{
    width: 50%;
    /*border: 1px solid #000000;*/
}
.avatar_frame{
    /*border: 1px solid #000000;*/
}
.top_my_name{
    font-weight: bold;
    font-size: 30px;

    /*border: 1px solid #000000;*/
}
.top_nav{
    /*border: 1px solid #000000;*/
}
.nav_link{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.nav_link:hover{
    color: #f6b130;
    transition: all 0.3s;
}
.your_description{
}
